<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/favicon.ico">
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles/main') }}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="root"></div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
            <script src="{{ asset('build/js/uno.rules.js') }}"></script>
            <script src="{{ asset('build/js/uno.global.js') }}"></script>
        {% endblock %}
    </body>
</html>
